{% extends 'form/registration.html.twig' %}
{% block title %}Add a new Article{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/addArticle.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home_page') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('show_articles') }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_profile') }}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('add_article') }}">Add Article</a>
                    </li>
                    {% if admin %}
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="dropdown-toggle nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{{ path('admin_home') }}">List of Users</a>
                                    <a class="dropdown-item" href="{{ path('text_check') }}">Articles to Approve</a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% form_theme registration_form 'bootstrap_4_layout.html.twig' %}
    {{ form_start (registration_form,{'attr':{'id':'custom_post_form'}})}}

    <div class="form-group">

    {{ form_row(registration_form.nameToPublish,{'attr':{'class':'form-control', 'id':'formGroupExampleInput'}}) }}
    {{ form_row(registration_form.textToPublish,{'attr':{'class':'form-control', 'id':'exampleFormControlTextarea1','rows':13}}) }}
    {{ form_widget(registration_form.tags.0) }}
        <input type="submit" class="btn btn-success mt-5" value="Submit" name="Submit" />
    </div>
    {{ form_end (registration_form)}}
    </div>
{% endblock %}