{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="loginForm">
        {{ form_start (login_form,{'attr':{'id':'custom_post_form'}})}}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="mb-3">Please sign in</h1>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
        {{ form_label(login_form.email)}}
    {{ form_widget(login_form.email,{'attr':{'value':last_username }}) }}
    {{ form_widget(login_form)}}
    <input type="submit" class="btn btn-success mt-4 " value="Submit" name="Submit" />
        <a href="{{ path('registration') }}" class="btn btn-primary mt-4 ">Registration</a>
        {{ form_end (login_form)}}
    </div>
    </div>
{% endblock %}
