{% extends 'base.html.twig' %}
{% block title %}{{ article.name }}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}">

{% endblock %}
{% block body %}
    <div class="container" class="mx-auto">
        <h1>{{ article.name }}</h1>
        <p class="text-justify">{{ article.text }}</p>
        <a href="{{ path('article_likes',({'slug':5,'id':article.id})) }}" class="js-like-article btn btn-danger btn-lg mt-3">Likes <span class="js-like-article-count badge badge-light">{{ likes }}</span></a>
        <h2 class="mb-4 mt-5">Add your comment:</h2>
        {{ form_start(comment_form,{'attr':{'id':'custom_post_form'}}) }}
        {{ form_row(comment_form.comment,{'label':false,'attr':{'class':'form-control', 'id':'exampleFormControlTextarea1','rows':6}}) }}
        <input type="submit" class="btn btn-success btn-lg mt-4 p-2" value="Submit" name="Submit" />
        {{ form_end(comment_form) }}
        <h2 class="mt-0">Comments:</h2>
         <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3">
         <ul class="list-group">
             {% for comment in article.comments|reverse%}
             <li class="list-group-item">{{ comment.comment }}</br>
                 Commented by:<b>{{ comment.user.name }}</b></br>
             On:{{comment.date|date('Y-m-d H:i:s')  }}</li>
             {% endfor %}
         </ul>
         </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/show_rating.js') }}"></script>
{% endblock %}