{% extends 'base.html.twig' %}
{% block title %}Check all Unpublished Articles{% endblock %}
{% block body %}
<div class="container">
    <ul class="list-group list-group-flush">
        {% for article in articles %}
            <h2>Article:</h2>
            <li class="list-group-item">{{ article.nameToPublish }}</li>
            <li class="list-group-item">{{ article.textToPublish }}</li>
            <li class="list-group-item">Publisher:{{ article.user.name }}</li>
            <h2>Action:</h2>
            <li class="list-group-item"><a href="{{ path('article_publish',({'id':article.id})) }}" class="btn btn-success w-25">Publish</a></li>
            <li class="list-group-item"><a href="{{ path('article_delete',({'id':article.id})) }}" class="btn btn-danger w-25">Delete</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}