{% extends 'base.html.twig' %}

{% block title %}List Of Articles{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <div class="container">
    {% block header %}
        <div id="header">
            <a href="{{ path('app_logout') }}" class="btn btn-primary btn-lg btn-block">Logout</a>
            <a href="{{ path('add_article') }}" class="btn btn-primary btn-lg btn-block">Add a new Article</a>
        </div>
    {% endblock %}
    <div class="list-group">
    {% for article in articles %}
        <a href="{{path('article_comment',({'id':article.id}))}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ article.name }}</h5>
            </div>
            <p class="mb-1">{{ article.text|slice(0, 1000) }}...</p>
        </a>
    {% endfor %}
    </div>
    <div class="navigation">
    {{ knp_pagination_render(articles) }}
    </div>
    </div>
{% endblock %}