{% extends 'base.html.twig' %}
{% block title %}{{ article.name }}
{% endblock %}
{% block body %}
    <div class="container" class="mx-auto">
        <h1>{{ article.name }}</h1>
        <p class="text-justify">{{ article.text }}</p>
        <a href="{{ path('article_likes',({'slug':5,'id':article.id})) }}" class="js-like-article btn btn-warning btn-lg">Likes <span class="js-like-article-count badge badge-light">{{ likes }}</span></a>
        <h2>Add your comment</h2>
        {{ form_start(comment_form,{'attr':{'id':'custom_post_form'}}) }}
        {{ form_row(comment_form.comment,{'label':false,'attr':{'class':'form-control', 'id':'exampleFormControlTextarea1','rows':13}}) }}
        <input type="submit" class="btn-success" value="Submit" name="Submit" />
        {{ form_end(comment_form) }}
        <h1>Comments:</h1>
         <div class="mx-auto my-2 my-sm-3 my-lg-4 p-3">
         <ul class="list-group">
             {% for comment in article.comments%}
             <li class="list-group-item">{{ comment.comment }}</br>
             Commented by:{{ comment.user.name }}</br>
             On:{{comment.date|date('Y-m-d H:i:s')  }}</li>
             {% endfor %}
         </ul>
         </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/show_rating.js') }}"></script>
{% endblock %}